<%= form_for(composter) do |f| %>
  <% if composter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(composter.errors.count, "error") %> prohibited this composter from being saved:</h2>

      <ul>
      <% composter.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :size %>
    <%= f.text_field :size %>
  </div>

  <div class="field">
    <%= f.label :temperature %>
    <%= f.text_field :temperature %>
  </div>

  <div class="field">
    <%= f.label :flipTime %>
    <%= f.text_field :flipTime %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
