<p id="notice"><%= notice %></p>

<h1>Composters</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Size</th>
      <th>Temperature</th>
      <th>Fliptime</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @composters.each do |composter| %>
      <tr>
        <td><%= composter.name %></td>
        <td><%= composter.size %></td>
        <td><%= composter.temperature %></td>
        <td><%= composter.flipTime %></td>
        <td><%= link_to 'Show', composter %></td>
        <td><%= link_to 'Edit', edit_composter_path(composter) %></td>
        <td><%= link_to 'Destroy', composter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Composter', new_composter_path %>
