<!DOCTYPE html>
  <body style="background-image: url(/assets/environment.jpg); background-repeat: 0; background-size: cover" >
    <div class="row">
      <div class="col-md-12" style="color: brown; font-size: 400%; font-family: fantasy">
          New Composter
      </div>
    </div>
    
<%= form_for @composter do |f| %>
    <%= f.label :name %>
    <%= f.text_area :name %>
    <br>
    <%= "Volume"%>
    <%= f.text_area :size %>
    <br>
    <%= f.submit %>
<% end %>
