<p id="notice"><%= notice %></p>

<p>
  <strong>Cid:</strong>
  <%= @composter.cid %>
</p>

<p>
  <strong>Uid:</strong>
  <%= @composter.uid %>
</p>

<p>
  <strong>Name:</strong>
  <%= @composter.name %>
</p>

<p>
  <strong>Temperature:</strong>
  <%= @composter.temperature %>
</p>

<p>
  <strong>Fliptime:</strong>
  <%= @composter.flipTime %>
</p>

<%= link_to 'Edit', edit_composter_path(@composter) %> |
<%= link_to 'Back', composters_path %>
