<div class = "row">
  <div class="col-md-12" style="color: white; font-size: 400%; font-family: Bebas Neue">
          Composter History
  </div>
</div>

<div class = "row">

  <div class="col-md-4">
  <div class="panel panel-default" style="background: rgba(255,255,255,0.5); width: 100%; height: 100%"> 
            <div class="panel-heading" style="background: rgba(255,255,255,0.5); color: black; font-family: Helvetica, sans-serif" >
                  General Information
            </div>
            <div class="panel-body" style="text-align: left; color: black; font: medium">
              <div class="row">
              <div class="col-md-12">
                <%= "Current Name:" %>
                    <%= @composter.name %>
                <br>
                <%= "Current Temperature (celcius):" %>
                <%= @composter.temperature %>
                <br>
                <%= "Time until next flip (hours):" %>
                <%= @composter.flipTime %>
                <br>
                <%= "Current Moisture Content:" %>

               <%- if (@composter.wets != 0) %>
                   						 <%= (((@composter.wets-@composter.drys)/@composter.wets) * 100) %> %
                				<% end %>

                <br>
                <ul class="nav navbar-nav">
                <li style="background: white;">
										<%= link_to "Edit Composter", edit_composter_path(@composter.id) %>
								</li>
                </ul>
              </div>
              </div>            
            </div>
            </div> 
  </div>

  <div class="col-md-4"> 

<div class="panel panel-default" style="background: rgba(255,255,255,0.5); width: 100%; height: 100%;"> 
            <div class="panel-heading" style="background: rgba(255,255,255,0.5); color: black; font-family: Helvetica, sans-serif" >
                  Item History
            </div>
            <div class="panel-body" style="text-align: left; color: black; font: medium">
              <div class="row">
              <div class="col-md-12">
                 <%- if @composter.items %>
                    <%- @composter.items.each_char do |i| %>
                      <%- if i == ')'%>
                        <%= i %>
                        <br>
                      <% else %>
                        <%= i %>
                       <% end %> 
                       <% end %> 
                  <% else %>
                    <br>
                  <% end %> 
              </div>
              </div>            
            </div>
            </div> 
           
  </div>

    <div class="col-md-4"> 

<div class="panel panel-default" style="background: rgba(255,255,255,0.5); width: 100%; height: 100%;"> 
            <div class="panel-heading" style="background: rgba(255,255,255,0.5); color: black; font-family: Helvetica, sans-serif" >
                  Temperature Graph
            </div>
            <div class="panel-body" style="text-align: left; color: black; font: medium">
              <div class="row">
              <div class="col-md-12">
                 <%- if @composter.temps %>
                    <%- @composter.temps.each_char do |i| %>
                      <%- if i == '|'%>
                        <br>
                      <% else %>
                        <%= i %>
                       <% end %> 
                       <% end %> 
                  <% else %>
                    <br>
                  <% end %> 

              </div>
              </div>            
            </div>
            </div> 
           
  </div>

</div>
