
<%= "Name:" %>
<%= @composter.name %>
<br>
<%= "Composter Volume:" %>
<%= @composter.sizes %>
<br>
<button type="button" >
    <li>
    <%= link_to "Edit Composter", edit_composter_path %>
    </li>
</button>
