<div style="width:400px; padding: 5px;margin:0 auto; background-color: lightblue; border: 1px solid black;">
	<h2>New Item</h2>
	<br>
	<%= form_for @item do |f| %>

	<div class="row" style="width:400px; margin:0 auto;">
		<div class="col-xs-6">
			<div>
				<%= f.label :name %>
			</div>
			<div>
				<%= f.label :dryWeight %>
			</div>
            <div>
				<%= f.label :wetWeight %>
			</div>
		</div>
		<div class="col-xs-6">
			<div>
				<%= f.text_field :name, size: "20x1"%>
			</div>
			<div>
				<%= f.number_field :wetWeight, class: :text_field, step: :any%>
			</div>
            <div>
				<%= f.number_field :dryWeight, class: :text_field, step: :any%>
			</div>
		</div>
	</div>
	<br>
	<%= f.submit %>
	<br>
	<br>
	<% end %>
</div>

