<p id="notice"><%= notice %></p>

<p>
  <strong>Iid:</strong>
  <%= @item.iid %>
</p>

<p>
  <strong>Cuid:</strong>
  <%= @item.cuid %>
</p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
