<%= form_for(composter_update) do |f| %>
  <% if composter_update.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(composter_update.errors.count, "error") %> prohibited this composter_update from being saved:</h2>

      <ul>
      <% composter_update.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cuid %>
    <%= f.text_field :cuid %>
  </div>

  <div class="field">
    <%= f.label :cid %>
    <%= f.text_field :cid %>
  </div>

  <div class="field">
    <%= f.label :wetWeight %>
    <%= f.text_field :wetWeight %>
  </div>

  <div class="field">
    <%= f.label :dryWeight %>
    <%= f.text_field :dryWeight %>
  </div>

  <div class="field">
    <%= f.label :cNRatio %>
    <%= f.text_field :cNRatio %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
