<%= form_for(@composterUpdate) do |f| %>
  <% if @composterUpdate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@composterUpdate.errors.count, "error") %> prohibited this @composterUpdate from being saved:</h2>

      <ul>
      <% @composterUpdate.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= hidden_field_tag(:composter_id, @composter.id) %>

  <div class="actions">
      <%= f.submit %>
  </div>
<% end %>
