<p id="notice"><%= notice %></p>

<p>
  <strong>Cuid:</strong>
  <%= @composter_update.cuid %>
</p>

<p>
  <strong>Cid:</strong>
  <%= @composter_update.cid %>
</p>

<p>
  <strong>Wetweight:</strong>
  <%= @composter_update.wetWeight %>
</p>

<p>
  <strong>Dryweight:</strong>
  <%= @composter_update.dryWeight %>
</p>

<p>
  <strong>Cnratio:</strong>
  <%= @composter_update.cNRatio %>
</p>

<%= link_to 'Edit', edit_composter_update_path(@composter_update) %> |
<%= link_to 'Back', composter_updates_path %>
